<ul class="unstyled">
	<li<%= sidebar_current("about") %>><a href="about.html"><%= I18n.t :sidebar_about_about %></a></li>
	<li<%= sidebar_current("about-sponsors") %>><a href="sponsors.html"><%= I18n.t :sidebar_about_sponsors %></a></li>
</ul>
<a class="button white-button" href="https://github.com/mitchellh/vagrant"><%= I18n.t :sidebar_about_github %></a>
