---
layout: "inner"
sidebar_current: "about"
sidebar_template: "about"
sidebar_title: about_sidebar_title
---

<h2><%= I18n.t :about_h2 %></h2> 

<p><%= I18n.t :about_p_line1 %></p>

<p><%= I18n.t :about_p_line2 %></p>

<p><%= I18n.t :about_p_line3 %></p>

<p><%= I18n.t :about_p_line4 %></p>
