<div class="page home">

	<section class="hero">
		<div class="container"> <!-- required by bootstrap -->
			<div class="hero-content">

				<div class="row">
					<div class="span8 offset2">
						<hgroup>
						<h1><%= I18n.t :index_h1_line1 %><br><%= I18n.t :index_h1_line2 %><br><%= I18n.t :index_h1_line3 %></h1>
						<h2><%= I18n.t :index_h2 %></h2>
						</hgroup>
					</div> <!-- /span -->
				</div> <!-- row -->

				<div class="row">
					<a href="http://downloads.vagrantup.com/">
						<div class="button span3 offset3">
							<span><%= I18n.t :index_button_download %></span>
						</div> <!-- /span -->
					</a>

					<a href="http://docs.vagrantup.com/v1/docs/getting-started/index.html">
						<div class="button button span3">
							<span><%= I18n.t :index_button_get_started %></span>
						</div> <!-- /span -->
					</a>
				</div> <!-- /row -->

			</div> <!-- hero-content -->
		</div> <!-- container -->
		</section> <!-- hero -->

		<section class="why-vagrant">
		<div class="container">
			<div class="row">
				<h1 class="span12">
					<%= I18n.t :index_why_h1 %>
				</h1>
			</div> <!-- /row -->
			<div class="row">
				<div class="span6 offset3">
					<!-- step 1 -->
					<hgroup>
					<h3><%= I18n.t :index_why_step1_h3 %></h3>
					<h4>
						<%= I18n.t :index_why_step1_h4 %>
					</h4>
					</hgroup>
					<!-- step 2 -->
					<hgroup>
					<h3><%= I18n.t :index_why_step2_h3 %></h3>
					<h4>
						<%= I18n.t :index_why_step2_h4 %>
					</h4>
					</hgroup>
					<!-- step 3 -->
					<hgroup>
					<h3><%= I18n.t :index_why_step3_h3 %></h3>
					<h4>
						<%= I18n.t :index_why_step3_h4 %>
					</h4>
					</hgroup>
				</div> <!-- span12 -->
			</div> <!-- row -->
		</div> <!-- container -->
		</section>

		<section class="get-started">
		<div class="container">
			<div class="row">
				<div class="span12">

					<h1 class="all-caps">
						<%= I18n.t :index_get_started_h1 %>
					</h1>
					<pre>
$ vagrant box add base http://files.vagrantup.com/lucid32.box
$ vagrant init
$ vagrant up
					</pre>
					</div> <!-- /span -->
				</div> <!-- /row -->
				<div class="row">
					<a href="http://docs.vagrantup.com/v1/docs/getting-started/index.html">
						<div class="button white-button with-carat span5 offset3">
							<span><%= I18n.t :index_get_started_button %></span>
						</div> <!-- /span -->
					</a>
				</div> <!-- /row -->
			</div> <!-- /get-started -->
			</section>

			<section class="customers black">
			<div class="container"> <!-- required by bootstrap -->
				<div class="row">
					<div class="customers-content span12">
						<h1 class="all-caps">
							<%= I18n.t :index_customers_h1 %>
						</h1>
						<div class="customer-logos">
							<img src="/images/customers.png" alt="customers" width="941" height="111" />
						</div>
					</div> <!-- customers-content -->
				</div> <!-- row -->
			</div> <!-- container -->
			</section>

		</div> <!-- /.page.home -->
