---
layout: "inner"
sidebar_title: support_sidebar_title
---
<h2><%= I18n.t :support_h2_support %></h2>
<p>
<%= I18n.t :support_p_line1 %>
</p>

<p>
<%= I18n.t :support_p_line2 %>
</p>

<h2><%= I18n.t :support_h2_community_support %></h2>

<p>
<%= I18n.t :support_p_community_support %>
</p>

<p>
<%= I18n.t :support_p_irc %>
</p>

<p>
<%= I18n.t :support_p_mailing_list %>
</p>

<p>
<%= I18n.t :support_p_bug_tracker %>
</p>
